/20210913_203421.jpg
/ad036135d51d7dc7f532472289e07cef.pdf
/AssociationRules.pdf
/Chapter 14 - Association rulesExample.ipynb
/Exam 1
/Exam 2 Final
/Exam1 Notes.docx
/Exam1Prep.docx
/Exercise_UserBased.xlsx
/Faceplate.csv
/HW 1 091221
/HW 2 092121
/HW 3 092621
/HW 4 100921
/HW 5 101921
/HW 8 120721
/HW7_Neural Nets.docx
/InClassExer
/InClassExer02.docx
/IS670 ScrnShot 0914.docx
/IS670 Syllabus.pdf
/IS670Template.py
/KRS Exam 2 Final.docx
/KRS IS670.zip
/NotesAssocRule(2).pdf
/Recommender.xlsx
/~$S IS670 HW01.docx